<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2013-2017 microG Project Team
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest
	package="org.microg.nlp.api.sample"
	android:versionCode="1"
	android:versionName="0.0.1"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-sdk
		android:targetSdkVersion="24"
		android:minSdkVersion="9" />
	<application
		android:allowBackup="false"
		android:icon="@drawable/icon"
		android:label="@string/app_name">

		<service
			android:name=".SampleBackendService"
			android:exported="true"
			android:permission="android.permission.ACCESS_COARSE_LOCATION"
			android:label="NLPV2-Sample">
			<intent-filter>
				<action android:name="org.microg.nlp.LOCATION_BACKEND" />
			</intent-filter>
		</service>

		<service
			android:name=".SecondSampleService"
			android:exported="true"
			android:permission="android.permission.ACCESS_COARSE_LOCATION"
			android:label="NLPV2-Second">
			<intent-filter>
				<action android:name="org.microg.nlp.LOCATION_BACKEND" />
			</intent-filter>
			<meta-data
				android:name="org.microg.nlp.BACKEND_SETTINGS_ACTIVITY"
				android:value="org.microg.nlp.api.sample.SecondSettings" />
		</service>

		<activity
			android:name=".SecondSettings"
			android:exported="true"
			android:label="Second Settings Activity" />

		<service
			android:name=".ThirdSampleService"
			android:exported="true"
			android:permission="android.permission.ACCESS_COARSE_LOCATION"
			android:label="NLPV2-Random">
			<intent-filter>
				<action android:name="org.microg.nlp.LOCATION_BACKEND" />
			</intent-filter>
		</service>
	</application>
</manifest>
